# Week 5 Task

In [1]:
import pandas as pd

In [2]:
# import data from csv
data = pd.read_csv('./Downloads/telecom_churn.csv')

In [3]:
# Print out the first five rows of the data set
first_rows = data.head()
first_rows

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [4]:
# Print out the last five rows of the data set
last_rows = data.tail()
last_rows

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
3328,AZ,192,415,No,Yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
3329,WV,68,415,No,No,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
3330,RI,28,510,No,No,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
3331,CT,184,510,Yes,No,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False
3332,TN,74,415,No,Yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

In [5]:
# What is the shape of the data set?
shape = data.shape
shape

(3333, 20)

In [7]:
# How many columns are present in the dataset?
colunms = data.shape[1]
colunms

20

In [8]:
# Are there null values in the dataset?
null_value = data.isnull()
null_value

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3329,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3330,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3331,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3332,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [9]:
# Print out the description of the numerical columns
description_numerical_value = data.describe()
description_numerical_value

,Account length,Area code,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls
count,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000
mean,101.064806,437.182418,8.099010,179.775098,100.435644,30.562307,200.980348,100.114311,17.083540,200.872037,100.107711,9.039325,10.237294,4.479448,2.764581,1.562856
std,39.822106,42.371290,13.688365,54.467389,20.069084,9.259435,50.713844,19.922625,4.310668,50.573847,19.568609,2.275873,2.791840,2.461214,0.753773,1.315491
min,1.000000,408.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.200000,33.000000,1.040000,0.000000,0.000000,0.000000,0.000000
25%,74.000000,408.000000,0.000000,143.700000,87.000000,24.430000,166.600000,87.000000,14.160000,167.000000,87.000000,7.520000,8.500000,3.000000,2.300000,1.000000
50%,101.000000,415.000000,0.000000,179.400000,101.000000,30.500000,201.400000,100.000000,17.120000,201.200000,100.000000,9.050000,10.300000,4.000000,2.780000,1.000000
75%,127.000000,510.000000,20.000000,216.400000,114.000000,36.790000,235.300000,114.000000,20.000000,235.300000,113.000000,10.590000,12.100000,6.000000,3.270000,2.000000
max,243.000000,510.000000,51.000000,350.800000,165.000000,59.640000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000

In [10]:
# What is the churn distribution among the customers?
Churn_distribution = data["Churn"].value_counts()
Churn_distribution

Churn
False    2850
True      483
Name: count, dtype: int64

In [12]:
# How much time do churned users and non churned users spend on the network during the day, evening and night on average?
Average_time_spent = ["Total day minutes", "Total eve minutes", "Total night minutes"]

data.groupby(["Churn"])[Average_time_spent].mean()

       Total day minutes  Total eve minutes  Total night minutes
Churn
False         175.175754         199.043298           200.133193
True          206.914079         212.410145           205.231677

In [13]:
# What is the average total charge (Day, evening, night, international) for customers who churned versus those who did not?
Average_total_charge = ["Total day charge", "Total eve charge", "Total intl charge", "Total night charge"]

data.groupby(["Churn"])[Average_total_charge].mean()

,Total day charge,Total eve charge,Total intl charge,Total night charge
Churn,,,,
False,29.780421,16.918909,2.743404,9.006074
True,35.175921,18.054969,2.889545,9.235528

In [14]:
# Are there significant differences in churn rates across different states or area codes?
Churn_rate_areacode = ["Area code"]

data.groupby(Churn_rate_areacode)["Churn"].mean()

Area code
408    0.145585
415    0.142598
510    0.148810
Name: Churn, dtype: float64

In [15]:
# Are there significant differences in churn rates across different states or area codes?
Churn_rate_state = ["State"]

data.groupby(Churn_rate_state)["Churn"].mean()

State
AK    0.057692
AL    0.100000
AR    0.200000
AZ    0.062500
CA    0.264706
CO    0.136364
CT    0.162162
DC    0.092593
DE    0.147541
FL    0.126984
GA    0.148148
HI    0.056604
IA    0.068182
ID    0.123288
IL    0.086207
IN    0.126761
KS    0.185714
KY    0.135593
LA    0.078431
MA    0.169231
MD    0.242857
ME    0.209677
MI    0.219178
MN    0.178571
MO    0.111111
MS    0.215385
MT    0.205882
NC    0.161765
ND    0.096774
NE    0.081967
NH    0.160714
NJ    0.264706
NM    0.096774
NV    0.212121
NY    0.180723
OH    0.128205
OK    0.147541
OR    0.141026
PA    0.177778
RI    0.092308
SC    0.233333
SD    0.133333
TN    0.094340
TX    0.250000
UT    0.138889
VA    0.064935
VT    0.109589
WA    0.212121
WI    0.089744
WV    0.094340
WY    0.116883
Name: Churn, dtype: float64

In [16]:
# Do customers with an international plan have different usage patterns compared to those without?
Usage_pattern = ["Total day minutes", "Total eve minutes", "Total night minutes"]

data.groupby(["International plan"])[Usage_pattern].mean()

                    Total day minutes  Total eve minutes  Total night minutes
International plan
No                         178.893887         200.663090           201.350831
Yes                        187.986997         203.936842           196.410217

In [17]:
# Who engages customer care the most among the customers?
data.groupby(["International plan", "Churn"])["Customer service calls"].mean()

International plan  Churn
No                  False    1.456081
                    True     2.476879
Yes                 False    1.360215
                    True     1.605839
Name: Customer service calls, dtype: float64

In [20]:
# How many customers are on international plan and how many are not
International_plan_customers = data["International plan"].value_counts()
International_plan_customers

International plan
No     3010
Yes     323
Name: count, dtype: int64

In [21]:
# How many customers have voicemail plans and how many do not have?
voicemail_plan_customers = data["Voice mail plan"].value_counts()
voicemail_plan_customers

Voice mail plan
No     2411
Yes     922
Name: count, dtype: int64